.players-list{
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.players-list div {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card-title{
  font-size: 20px;
  font-weight: 600;
  
  color: brown;
} 